<div fxFlex>
    <mat-card class = "mat-elevation-z8 container">
      <mat-card-title>Ten Inch Round Options</mat-card-title>
      <mat-card-content>
        
        <!--Ten inch cake flavor options-->
        <app-ten-inch></app-ten-inch>
        <br/>
  
        <!--Icing options-->
        <app-icing-options></app-icing-options>
        <br/>
        
        <!--Cake message-->
        <app-message></app-message>  
        <br/>
  
        <!--Member Information-->
        <app-member-info></app-member-info>
        <br/>
  
        <!--Date and Time Picker-->
        <app-date-time></app-date-time>
        <br/>
  
        <!--Submit and Cancel Buttons-->
        <app-submit></app-submit>
  
      </mat-card-content>
    </mat-card>
  </div>