<div fxFlex>
  <mat-card class = "mat-elevation-z8 container">
    <mat-card-title>Five and Dime Options</mat-card-title>
    <mat-card-content>
      
      <!--Five inch cake flavor options-->
      <app-five-inch></app-five-inch>
      <br/>

      <!--Cupcake flavor options-->
      <app-cup-flavor></app-cup-flavor>
      <br/>

      <!--Icing options-->
      <app-icing-options></app-icing-options>
      <br/>
      
      <!--Cake message-->
      <app-message></app-message>  
      <br/>

      <!--Sprinkles options-->
      <app-sprinkles></app-sprinkles>
      <br/>

      <!--Comments section-->
      <app-comments></app-comments>
      <br/>

      <!--Member Information-->
      <app-member-info></app-member-info>
      <br/>

      <!--Date and Time Picker-->
      <app-date-time></app-date-time>
      <br/>

      <!--Submit and Cancel Buttons-->
      <app-submit></app-submit>

    </mat-card-content>
  </mat-card>
</div>