<div fxLayout = "column">
    <!--Cupcake flavor-->
    <mat-card class = "mat-elevation-z3 container2">
      <mat-card-subtitle>Cupcake Flavor</mat-card-subtitle>
      <!--Mixed cupcakes-->
      <div class = "cupcake cupcake1">
        <img src = "../../../assets/Cupcakes/mixedCupcake.png">
        <br/>
        <input type = "radio" name = "cupFlavor" value = "White/Chocolate" checked>
        <label for = "cupFlavor">White & Chocolate</label>
      </div>
      <!--White cupcakes-->
      <div class = "cupcake">
        <img src = "../../../assets/Cupcakes/whiteCupcake.png">
        <br/>
        <input type = "radio" name = "cupFlavor" value = "White">
        <label for = "cupFlavor">White</label>
      </div>
      <!--Chocolate cupcakes-->
      <div class = "cupcake">
        <img src = "../../../assets/Cupcakes/chocCupcake.png">
        <br/>
        <input type = "radio" name = "cupFlavor" value = "Chocolate">
        <label for = "cupFlavor">Chocolate</label>
      </div>
    </mat-card>
</div>
