<!--Member Information-->
<div fxLayout = "column">
    <mat-card>
        <mat-card-subtitle>Member Information</mat-card-subtitle>
        <mat-form-field class = "name">
            <mat-label>First Name</mat-label>
            <input matInput placeholder = "First Name">
        </mat-form-field>
        <mat-form-field class = "name">
            <mat-label>Last Name</mat-label>
            <input matInput placeholder = "Last Name">
        </mat-form-field>
        <br/>
        <mat-form-field class = "name">
            <mat-label>Phone Number</mat-label>
            <input matInput placeholder = "Ex: (555)-555-5555">
        </mat-form-field>
        <mat-form-field class = "name">
            <mat-label>Phone Number 2</mat-label>
            <input matInput placeholder = "Ex: (555)-555-5555">
        </mat-form-field>
    </mat-card>
</div>