<div fxLayout = "column" fxLayoutAlign = "space-around none"> 
    <!--10 inch Cake flavor options-->
    <mat-card class = "mat-elevation-z3">
      <mat-card-subtitle>Cake Flavor</mat-card-subtitle>
      <!--White cake-->
      <div class = "tenInch ten1"> 
        <img src = "../../../../assets/10-inch/10inchWhite.png">
        <br/>
        <input type = "radio" name = "flavor" value="White" checked>
        <label for = "flavor">White</label>
      </div>
      <!--Chocolate cake-->
      <div class = "tenInch">
        <img src = "../../../../assets/10-inch/10inchChoc.png">
        <br/>
        <input type = "radio" name = "flavor" value="Chocolate">
        <label for = "flavor">Chocolate</label>
      </div>
    </mat-card>
  </div>
