<div class = "container">
    <mat-card routerLink = "five-and-dime" class = "mat-elevation-z8"> 
        <a>     
            <mat-card-title>5 and Dime</mat-card-title>
            <img src = "../../../assets/5andDime.png">
        </a>
    </mat-card>
    
    <mat-card routerLink = "ten-inch" class = "mat-eleveation-z8">
        <a>
            <mat-card-title>10" Round</mat-card-title>
            <img src = "../../../assets/10inch.png">
        </a>
    </mat-card>

    <mat-card>
        <a>
            <mat-card-title>Quarter Sheet</mat-card-title>
            <img src="../../../assets/Quarter.png">
        </a>
    </mat-card>

    <mat-card>
        <a>
            <mat-card-title>Half Sheet</mat-card-title>
            <img src="../../../assets/Half.png">
        </a>
    </mat-card>

    <mat-card>
        <a>
            <mat-card-title>Full Sheet</mat-card-title>
            <img src="../../../assets/Full.png">
        </a>
    </mat-card>

    <mat-card>
        <a>
            <mat-card-title>15-Count Cupcakes</mat-card-title>
            <img src = "../../../assets/15count.png">
        </a>
    </mat-card>

    <mat-card>
        <a>
            <mat-card-title>30-count Cupcakes</mat-card-title>
            <img src = "../../../assets/30count.png">
        </a>
    </mat-card>

    <mat-card>
        <a>
            <mat-card-title>2 Tier</mat-card-title>
            <img src = "../../../assets/2tier.png">
        </a>
    </mat-card>

    <mat-card>
        <a>
            <mat-card-title>3 Tier</mat-card-title>
            <img src = "../../../assets/3tier.png">
        </a>
    </mat-card>
</div>