.container{
    text-align: center;
}

mat-card{
    background-color: lightblue;
    width: 12%;
    margin: 0 auto;
    padding: 1%;
    margin: 2%;
    text-align: center;
    display: inline-block;
    font-size: 50%;
}

img{
    width: 80%;
}